# -----------------------
# OS Files
# -----------------------
# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini


# -----------------------
# IDE / Editor
# -----------------------
.vscode/


# -----------------------
# Cache
# -----------------------
__pycache__


# temp
spider-development
README.md
requirements.txt